:root {
  --clr-rdm: --clr-rdm;
  --clr-flair: --clr-flair;
  --clr-bckg-hr-grdnt: linear-gradient(to right, transparent, var(--rdm-clr), transparent);
  --tomato: hsla(9, 100%, 64%, 0.99);
  --blur-amount: blur(10px);
  --tst-time: .250s;
}

#highlighted-text {
  position: relative;
  width: 100%;
  outline: solid 0.1rem var(--clr-flair, var(--tomato));
  border-radius: .1rem;
  outline-offset: .1rem;
}

#highlighted-text[data-flair="NSFW🔞"] {
  position: relative;
}

#highlighted-text[data-flair="NSFW🔞"]::before {
  content: '';
  display: flex;
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  backdrop-filter: var(--blur-amount, blur(50%));
  /* Use the custom property for blur */
  z-index: 2;
  outline: solid 0.1rem hsl(0 0% 50% / .1);
  outline-offset: -.1rem;
  border-radius: .1rem;
  clear: both;
}

#highlighted-text::after {
  content: attr(data-flair);
  background-color: var(--clr-flair, #131313);
  text-shadow: 0 0 5px black;
  box-shadow: 0px 0px 20px -5px var(--clr-flair);
  filter: drop-shadow(0px 0px 1px var(--clr-flair));
  position: absolute;
  left: .5rem;
  top: -1.1rem;
  width: fit-content;
  height: .3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .3em;
  color: white;
  padding: .5rem;
  font-weight: 700;
  font-size: 1rem;
  border: .1rem solid hsla(0, 0%, 0%, 0.2);
  text-wrap: nowrap;
  filter: blur(0px) !important;
  z-index: 3;
  overflow: hidden;
  font-family: monospace;
}

#highlighted-text:hover:after, #target-txt_selected:hover::after {
  opacity: .3;
  transition: var(--tst-time) ease-in-out;
}

#blur-slider-container {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  color: white;
  z-index: 999;
  font-family: monospace;
}

/* anonymously report functionality */

#target-overlay{
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  backdrop-filter: blur(2px);
  background: transparent;
  background-color: hsla(0, 0%, 0%, .5);
  z-index: 999999;  
}

#target-modal{
  overflow-y: scroll;
  position: fixed;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  height: fit-content;
  max-height: 500px;
  background-color:#fff;
  border-radius: 1rem; 
}

#target-txt_selected{
  position: relative;
  width: 100%;
  outline: solid 0.1rem var(--tomato);
  border-radius: .1rem;
  outline-offset: .1rem;
}

#target-txt_selected::after{
  content: attr(data-flair);
  background-color: var(--tomato);
  text-shadow: 0 0 5px black;
  box-shadow: 0px 0px 20px -5px var(--tomato);
  filter: drop-shadow(0px 0px 1px var(--tomato));
  position: absolute;
  left: .5rem;
  top: -1.1rem;
  width: fit-content;
  height: .3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .3em;
  color: white;
  padding: .5rem;
  font-weight: 700;
  font-size: 1rem;
  border: .1rem solid hsla(0, 0%, 0%, 0.2);
  text-wrap: nowrap;
  filter: blur(0px) !important;
  z-index: 3;
  overflow: hidden;
  font-family: monospace;
}

#target-select-input{
  width: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
  background-color: #8888;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 50px;
}