:root {
  --lime: hsl(120, 100%, 50%);
  --red: hsl(0, 100%, 50%);
  --blue: hsl(240, 100%, 50%);
  --tomato: hsl(9, 100%, 64%);
  --orange: hsl(39, 100%, 50%);
  --gold: hsl(51, 100%, 50%);
  --lightgrey: hsl(0, 0%, 83%);
  --lightgrey2: #303030;
  --lightgrey3: #181818;
  --grey: #181818;
  --white: hsl(0, 0%, 100%);
  --twt-bckg-grey: hsl(206, 18%, 17%);
  --clr-data-verified: var(--lime);
  --clr-data-bullet: var(--lightgrey);
  --clr-data-analysing: var(--orange);
  --clr-rdm: --clr-rdm;
  --clr-flair: --clr-flair;
  --clr-body-bg: hsl(0, 0%, 100%);
  --clr-txt: hsl(0, 0%, 0%);
  --clr-underline: hsl(0, 0%, 0%);
  --clr-bullet: var(--clr-body-bg);
  --clr-scroll-bar-50: rgba(128, 128, 128, 0.5);
  --clr-bckg-hr-grdnt: linear-gradient(to right, transparent, var(--rdm-clr), transparent);
  --tst-time: .5s;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, input, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* *,
*::after,
*::before{
  box-sizing: border-box;
} */

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: balance;
  max-width: 75ch;
}

@media (prefes-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

html {
  hanging-punctuation: first last;
  transition: var(--tst-time) ease-in-out;
  /* color-scheme: dark light; */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-body-bg);
  color: var(--clr-txt);
  min-height: 83vh;
  font-family: monospace;
}

.wrapper {
  margin-inline: auto;
  width: 95vw;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.tabs {
  margin-inline: auto;
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(3, auto);
  font-size: 1.5rem;
  /* max-width: fit-content; */
}

.inner-tab {
  display: grid;
  grid-column: auto / span 1;
  gap: 0.5rem;
}

.tabs__label {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: var(--clr-body-bg);
  margin: 0 auto;
  width: 100px;
  font-size: .8rem;
  place-content: center;
  position: relative;
  line-height: 2.2rem;
}

.tabs__label[for="tab1"]::after {
  content: attr(data-tab);
  position: absolute;
  top: -1em;
  right: -1em;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: var(--red);
  font-family: unset;
  font-size: .8rem;
  padding: 3px;
  font-weight: bold;
  outline: solid 3px var(--clr-body-bg);
  z-index: 1;
}

.tabs__radio {
  display: none;
}

.tabs__radio:checked+.tabs__label {
  font-weight: bold;
  border-radius: .3rem;
  background-color: var(--lightgrey);
  line-height: 1.5;
  text-shadow: 0px 0px 0px black;
  color: var(--clr-txt);
}

.tabs__radio:not(:checked)+.tabs__label:hover {
  opacity: .8;
  transition: var(--tst-time) ease-in-out;
  backdrop-filter: blur(2px);
  background: transparent;
  background-color: hsla(0, 0%, 0%, .5);
  border-radius: .3rem;
}

.tabs__radio:checked+.tabs__label+.tabs__content {
  display: grid;
  gap: 0.5rem;
  place-self: center;
}

.inner-tab .tabs__radio:checked+.tabs__label {
  background-color: transparent;
  text-decoration: var(--clr-underline) underline solid 3px;
  text-underline-offset: 8px;
  color: var(--clr-txt);
}

.inner-tab .tabs__radio:not(:checked)+.tabs__label:hover {
  opacity: .8;
  transition: var(--tst-time) ease-in-out;
  background-color: transparent;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 10px;
}

.tooltip .tooltiptext::before {
  content: attr(data-donate);
  top: 0;
  left: -1.5em;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  display: block;
  align-items: center;
  color: white;
  font-family: unset;
  font-size: .8rem;
  padding: 3px;
  font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 1.5rem;
  left: -3px;
  opacity: 0;
  transition: var(--tst-time);
  font-size: .8rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.tabs__content, .inner-tab .tabs__content {
  order: 1;
  display: none;
  transform: inherit;
  margin-inline: auto;
  grid-column: auto / span 3;
  width: 100%;
}

[for="tab2"]+.tabs__content,
[for="tab3"]+.tabs__content {
  font-size: 1rem;
  width: auto;
}

.tabs__content h1, h2, h3 {
  font-weight: bolder;
}

#loading-message,
.sver_network-error {
  justify-self: center;
  text-align: center;
  margin: .5rem 0;
}

.tabs__content, .tabs__content ul li>* {
  margin: 0 .5rem;
}

.tabs__content ul {
  list-style-type: none;
  display: grid;
  width: 100%;
}

.tabs__content ul li {
  color: var(--white);
  transition: var(--tst-time) ease-in-out;
  display: flex;
  padding: 2px;
  border-radius: 0.2em;
  max-width: 378px;
  min-width: clamp(380px, 380px, 400px);
}

.no-data-found {
  margin: .5rem;
  font-size: 1rem;
  text-align: center;
  place-self: center;
  font-style: italic;
}

.tabs__label[for="tab1"]+.tabs__content ul {
  max-width: clamp(350px, 364px, 400px);
  margin: 0 auto;
  place-content: center;
}

.tabs__content ul li:hover {
  opacity: .95;
  cursor: pointer;
  transition: var(--tst-time) ease-in-out;
}

.tabs__content ul li:nth-of-type(odd) {
  background-color: var(--lightgrey2);
}

.tabs__content ul li:nth-of-type(even) {
  background-color: var(--lightgrey3);
}

.tabs__content ul li:is(:first-child):before,
.tabs__content ul li:is(:first-child)::after {
  display: none;
}

.li__table details {
  width: 100%;
  align-self: center;
  max-height: 200px;
  overflow-y: scroll;
  padding: 3px;
  margin: 0 !important;
}

.li__table details summary {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  transition: var(--tst-time) ease-in-out;
  backdrop-filter: blur(2px);
  background: transparent;
  background-color: hsla(0, 0%, 0%, .5);
  border-radius: .2em;
  z-index: 1;
}

.li__table details summary label {
  position: relative;
  margin: 0 .5rem;
  font-size: 1.3rem;
  line-height: 1.5;
}

li details summary label::after {
  content: attr(data-flair);
  background-color: var(--clr-flair, white);
  box-shadow: 0 0 5px 0px var(--clr-flair);
  text-shadow: 0px 0px 5px black;
  position: absolute;
  left: 6.5rem;
  top: 0.3rem;
  width: fit-content;
  height: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2em;
  color: white;
  padding: 5px;
  font-weight: 700;
  font-size: 1rem;
}

[id^="id_report_title_"],
[id^="id_report_text_"] {
  font-size: 1.1rem;
  max-width: unset;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

[id^="id_report_title_"] {
  margin: .5rem .5rem 0 !important;
}

[id^="id_report_text_"] {
  margin: 0 .5rem .5rem !important;
}

.li__info__col {
  background-color: var(--twt-bckg-grey);
  border-radius: 0.2em;
  font-size: .8rem;
  display: grid;
  color: lightskyblue;
  gap: 0.1rem;
  padding: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.li__info__col::before {
  content: "🛈 Report Info";
  display: inline-block;
  position: relative;
  top: .1rem;
  left: .5rem;
  font-size: 1.1rem;
  font-family: monospace;
  font-weight: bolder;
  vertical-align: middle;
  font-style: italic;
  line-height: 1.5;
  width: fit-content;
}

.li__info__col>* {
  margin: 0 .5rem;
  overflow-wrap: anywhere;
}

#info__id::before {
  /* content: attr(data-id); */
  content: "id: ";
  width: fit-content;
  color: var(--white);
  font-weight: bolder;
  color: var(--white);
  font-size: .8rem;
}

#info__report_date::before {
  /* content: attr(data-report_date); */
  content: "report date: ";
  width: fit-content;
  color: var(--white);
  font-weight: bolder;
  color: var(--white);
  font-size: .8rem;
}

#info__url::before {
  /* content: attr(data-url); */
  content: "site: ";
  width: fit-content;
  color: var(--white);
  font-weight: bolder;
}

#info__score::before {
  content: "score: ";
  width: fit-content;
  color: var(--white);
  font-weight: bolder;
  font-size: .8rem;
}

#info__thread {
  position: relative;
  text-decoration: none;
  font-family: monospace;
  color: lightskyblue;
  transition: var(--tst-time) ease-in-out;
  overflow-wrap: anywhere;
}

#info__thread:hover {
  opacity: .5;
  transition: var(--tst-time) ease-in-out;
  cursor: pointer;
}

#info__thread::before {
  content: attr(data-thread);
  content: "thread link: ";
  width: fit-content;
  color: var(--white);
  font-weight: bolder;
  font-size: .8rem;
}

#info__source::before {
  content: "source: ";
  width: fit-content;
  color: var(--white);
  font-weight: bolder;
  font-size: .8rem;
}

.tabs__content img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
  justify-self: center;
  overflow-wrap: break-word;
}

#key_features, #report_rules {
  background-color: inherit;
  gap: .2rem;
  overflow: hidden;
  justify-content: center;
}

#key_features li, #report_rules li {
  display: grid;
  position: relative;
  gap: .3rem;
  border-radius: .5rem;
  min-width: auto;
}

#key_features li>*:last-child, #report_rules li>*:last-child {
  margin-bottom: .5rem;
}

#key_features li:before,
#report_rules li::before {
  content: '';
  position: absolute;
  display: block;
  top: -8px;
  left: -8px;
  width: 15px;
  height: 15px;
  color: var(--white);
  text-align: center;
  background-color: var(--clr-bullet);
  border-radius: 50%;
  z-index: 3;
  line-height: .5;
}

#key_features li::after,
#report_rules li::after {
  content: '';
  position: absolute;
  display: block;
  top: -8px;
  right: -8px;
  width: 15px;
  height: 15px;
  color: red;
  background-color: var(--clr-bullet);
  border-radius: 50%;
  z-index: 3;
}

#key_features li:is(:first-child):before,
#key_features li:is(:first-child)::after,
#report_rules li:is(:first-child)::before,
#report_rules li:is(:first-child)::after {
  display: none;
}

#key_features li h2,
#report_rules li p {
  margin-top: .5rem;
}

#key_features li h2::before {
  display: inline-block;
  visibility: visible;
  transition: var(--tst-time) ease-in-out;
  font-weight: 100;
  margin: 0 0.5rem;
  line-height: 1;
  background: transparent;
  border-radius: 50%;
  text-shadow: 0px 0px 10px red;
}

#key_features li:nth-child(1) h2::before {
  content: "⚠";
  color: var(--gold);
}

#key_features li:nth-child(2) h2::before {
  /* content: attr('&#61632;'); */
  content: "🌐";
  color: red;
}

#key_features li:nth-child(3) h2::before {
  content: "🔌";
  color: red;
}

.hr-status {
  line-height: 1em;
  position: relative;
  outline: 0;
  opacity: 1;
  border: 0;
  color: black;
  text-align: center;
}

.hr-status hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.hr-status::before {
  content: '';
  background: linear-gradient(to right, transparent, var(--white), transparent);
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  height: 3px;
}

.hr-status::after {
  content: attr(data-hr_status);
  position: relative;
  display: inline-block;
  padding: 0 0.5em;
  line-height: 1.3em;
  background-color: var(--white);
  color: #000;
  border-radius: 0.2em;
  top: -5px;
  font-weight: bolder;
  font-size: 0.8rem;
  text-shadow: 0px 0px 0px black;
}

.hr-status[data-hr_status="verified"]::before {
  background: linear-gradient(to right, transparent, var(--clr-data-verified), transparent);
  border-radius: 1em;
}

.hr-status[data-hr_status="analysing"]::before {
  background: linear-gradient(to right, transparent, var(--clr-data-analysing), transparent);
}

.hr-status[data-hr_status="verified"]::after {
  background-color: var(--clr-data-verified);
}

.hr-status[data-hr_status="analysing"]::after {
  background-color: var(--clr-data-analysing);
}

.hr-status[data-hr_status="bullet"]::after {
  content: '';
  background-color: var(--clr-data-bullet);
  width: 10px;
  height: 21px;
  top: 2px;
  border-radius: 50%;
}

/* -------------- ::-webkit-scrollbar -------------- */
.li__table details summary::marker {
  font-size: 3em;
}

.li__table details::-webkit-scrollbar {
  width: 4px;
  height: 3px;
  background-color: #8888;
  border-radius: 1em;
}

.li__table details::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 50px;
}

/* --------------------FOOTER--------------------- */

footer {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  align-self: flex-end;
  margin: .5rem;
}

footer p {
  margin: auto 5px;
}

footer p, footer a {
  text-decoration: none;
  color: lightgrey;
  transition: var(--tst-time) ease-in-out;
}

footer p:hover, footer a:hover {
  color: black;
  transition: var(--tst-time) ease-in-out;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #8888;
}

body::-webkit-scrollbar-thumb {
  background: var(--clr-scroll-bar-50);
  border-radius: 50px;
}

/* ------------------- COLOR CHANGING ------------------- */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.color-picker>fieldset {
  border: 0;
  display: flex;
  gap: 2rem;
  width: fit-content;
  background: var(--clr-body-bg);
  padding: 1rem;
  margin-inline: auto;
  border-radius: .5rem;
}

.color-picker input[type="radio"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

input[type="radio"]#light::after {
  content: attr(data-clr-light-theme);
  left: -.3rem;
}

input[type="radio"]#dark::after {
  content: attr(data-clr-dark-theme);
  left: -0.1rem;
}

input[type="radio"]#clr-3rd-opt::after {
  content: attr(data-clr-opt3-theme);
  left: -0.5rem;
}

input[type="radio"]#light::after,
input[type="radio"]#dark::after,
input[type="radio"]#clr-3rd-opt::after {
  position: absolute;
  top: 1.8rem;
  width: max-content;
  height: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2em;
  color: var(--clr-txt);
  padding: 5px;
  font-weight: 700;
  font-size: .5rem;
}

input[type="radio"]#light {
  position: relative;
  --radio-color: var(--lightgrey);
}

input[type="radio"]#dark {
  position: relative;
  --radio-color: var(--blue);
}

input[type="radio"]#clr-3rd-opt {
  position: relative;
  --radio-color: var(--tomato);
}

:root:has(#light:checked) {
  --clr-body-bg: hsl(0, 0%, 100%);
  transition: var(--tst-time) ease-in-out;
}

:root:has(#dark:checked) {
  --clr-body-bg: var(--lightgrey3);
  --clr-txt: var(--lightgrey);
  --clr-underline: var(--white);
  transition: var(--tst-time) ease-in-out;

  .tabs__radio:checked+.tabs__label {
    color: var(--lightgrey3);
  }

  .inner-tab .tabs__radio:checked+.tabs__label {
    color: var(--lightgrey);
  }
}

:root:has(#clr-3rd-opt:checked) {
  --clr-body-bg: var(--transparent);
  transition: var(--tst-time) ease-in-out;
}