:root {
  --lime: hsl(120, 100%, 50%);
  --red: hsl(0, 100%, 50%);
  --blue: hsl(240, 100%, 50%);
  --tomato: hsl(9, 100%, 64%);
  --orange: hsl(39, 100%, 50%);
  --gold: hsl(51, 100%, 50%);
  --lightgrey: hsl(0, 0%, 83%);
  --lightgrey1: hsl(219, 9%, 44%);
  --lightgrey2: #303030;
  --lightgrey3: #181818;
  --grey: #181818;
  --white: hsl(0, 0%, 100%);
  --twt-bckg-grey: hsl(206, 18%, 17%);
  --clr-data-verified: var(--lime);
  --clr-data-bullet: var(--lightgrey);
  --clr-data-analysing: var(--orange);
  --clr-default-label: var(--lightgrey);
  --clr-rdm: --clr-rdm;
  --clr-flair: red;
  --clr-body-bg: hsl(0, 0%, 100%);
  --clr-txt: hsl(0, 0%, 0%);
  --clr-underline: hsl(0, 0%, 0%);
  --clr-scroll-bar-50: rgba(128, 128, 128, 0.5);
  --tst-time: 0.25s;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, button, cite, code, del,
dfn, em, img, input, ins, kbd, q, s, samp, small, strike, strong, sub, sup, 
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p {
  max-width: 75ch;
  text-wrap: balance;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
  justify-self: center;
  overflow-wrap: break-word;
  margin: 0 auto !important;
}

@media (prefes-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

html {
  hanging-punctuation: first last;
  /* color-scheme: dark light; */
}

/* *, * > *{
  outline: 1px solid red;
} */

body {
  background-color: var(--clr-body-bg);
  color: var(--clr-txt);
  min-height: 83vh;
  font-family: monospace;
}

.wrapper {
  margin-inline: auto;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  min-width: 390px;
  max-width: min-content;
}

.tabs {
  --clr-border-border-block-end-label: var(--clr-default-label);
  --tab-count: 3;
  --active: 0;
  position: relative;
  isolation: isolate;
  display: flex;
  height: 2.5rem;
  margin-bottom: 1rem;
  border-block-end: 1px solid var(--clr-border-border-block-end-label);
}

.tabs input {
  display: none;
}

.tabs label {
  --clr-txt-label: var(--lightgrey1);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--clr-txt-label);
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  position: relative;
  text-align: -webkit-center;
}

.tabs label:hover {
  --clr-txt-label-hover: var(--lightgrey3);
  color: var(--clr-txt-label-hover) !important;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.tabs input:checked + label {
  color: #101010;
}

.tabs::before {
  --clr-bkg-grdnt-label: var(--clr-border-border-block-end-label);
  --clr-border-label: var(--lightgrey);
  pointer-events: none;
  position: absolute;
  content: "";
  z-index: -1;
  inset: 0 0 -1px;
  width: calc((100% / var(--tab-count)) - 0px);
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px solid var(--clr-border-label);
  border-bottom: none;
  background-image: linear-gradient(
    var(--clr-bkg-grdnt-label),
    var(--clr-body-bg)
  );
  translate: calc(var(--active) * 100%);
  transition: translate 0.5s ease-in-out;
}

label[for="tab1"]::after {
  content: attr(data-tab);
  position: absolute;
  top: -5px;
  right: -2px;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background: linear-gradient(45deg, var(--red), var(--tomato));
  font-family: unset;
  font-size: 0.8rem;
  padding: 3px;
  font-weight: bold;
  outline: solid 3px var(--clr-body-bg);
  z-index: 1;
}

.tabs:has(:checked:nth-of-type(1)) {
  --active: 0;
}

.tabs:has(:checked:nth-of-type(2)) {
  --active: 1;
}

.tabs:has(:checked:nth-of-type(3)) {
  --active: 2;
}

.tab-content > div {
  display: none;
}

.wrapper:has(:checked#tab1) .tab-content-1,
.wrapper:has(:checked#tab2) .tab-content-2,
.wrapper:has(:checked#tab3) .tab-content-3 {
  display: block;
}

.tab-content-2 p,
.tab-content-3 p {
  padding: 0.5rem 0;
}

.tab-content-2 h3,
.tab-content-3 h3 {
  font-size: 1.1rem;
  font-weight: bolder;
  padding: 0.5rem 0;
}

.wrapper:has(:checked#tab1) .tab-content-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sub-tabs {
  --sub-tab-count: 3;
  --sub-active: 0;

  position: relative;
  display: flex;
  height: 2.5rem;
  border-bottom: 1px solid #e9ebec;
  overflow: hidden;
}

.sub-tabs input {
  display: none;
}

.sub-tabs label {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  color: #656d7b;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  text-align: -webkit-center;
}

.sub-tabs label:hover {
  --clr-txt-label-hover: var(--lightgrey3);
  color: var(--clr-txt-label-hover) !important;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.sub-tabs input:checked + label {
  color: #101010;
}

.sub-tabs::before {
  --clr-underline-sub-tab: var(--clr-default-label);
  pointer-events: none;
  position: absolute;
  content: "";
  z-index: -1;
  inset: 0 0 -1px;
  width: calc((100% / var(--sub-tab-count)) - 0px);
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: none;
  background-image: linear-gradient(
    to top,
    var(--clr-underline-sub-tab),
    transparent 10px
  );
  translate: calc(var(--sub-active) * 100%);
  transition: translate 0.5s ease-in-out;
  filter: blur(2px);
}

.sub-tabs:has(:checked:nth-of-type(1)) {
  --sub-active: 0;
}

.sub-tabs:has(:checked:nth-of-type(2)) {
  --sub-active: 1;
}

.sub-tabs:has(:checked:nth-of-type(3)) {
  --sub-active: 2;
}

.sub-tab-content > div {
  display: none;
}

.sub-tabs:has(:checked#subtab1-1) ~ .sub-tab-content .sub-tab-content-1,
.sub-tabs:has(:checked#subtab1-2) ~ .sub-tab-content .sub-tab-content-2,
.sub-tabs:has(:checked#subtab1-3) ~ .sub-tab-content .sub-tab-content-3 {
  display: block;
}

.sub-tab-content-2 h1,
.sub-tab-content-2 h2 {
  margin: 1rem auto;
  font-weight: bolder;
}

.sub-tab-content-2 h2,
.sub-tab-content-2 p {
  opacity: 0.5;
  margin: 0 1rem;
}

.sub-tab-content-2 h1 {
  font-size: 2rem;
}

.sub-tab-content-2 h2 {
  font-size: 1rem;
}

.sub-tab-content-2 a {
  opacity: 1 !important;
  margin: 0 1rem;
}

[class^="tab-content-"] > *,
[class^="sub-tab-content-"] > * {
}

[class^="tab-content-2"] > *,
[class^="tab-content-3"] > * {
  margin: 0 1rem;
}

.tab-content-1 ul {
  list-style-type: none;
  display: grid;
  width: 100%;
  place-items: center;
}

.no-data-found,
#loading-message {
  text-align: center;
  margin: 1rem auto;
  font-style: italic;
}

.tab-content-1 ul li {
  color: var(--white);
  display: flex;
  padding: 2px;
  border-radius: 0.2em;
  max-width: 378px;
  min-width: clamp(375px, 280px, 400px);
}

.tab-content-1 ul li:hover {
  opacity: 0.95;
  cursor: pointer;
  transition: var(--tst-time) ease-in-out;
}

.tab-content-1 ul li:nth-of-type(odd) {
  background-color: var(--lightgrey2);
}

.tab-content-1 ul li:nth-of-type(even) {
  background-color: var(--lightgrey3);
}

.li__table details {
  width: 100%;
  align-self: center;
  max-height: 200px;
  overflow-y: scroll;
  padding: 3px;
  margin: 0 !important;
}

.li__table details summary {
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: space-between;
  top: 0;
  backdrop-filter: blur(2px);
  background: transparent;
  background-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 0.2em;
  z-index: 1;
}

.li__table details summary span {
  margin: 0 0.5rem;
  color: var(--lightgrey1);
  font-size: 1rem;
  writing-mode: vertical-rl;
}

.li__table details summary span:hover {
  opacity: 0.8;
  transition: var(--tst-time);
  color: var(--white);
  font-weight: bolder;
}

.li__table details summary label {
  position: relative;
  margin: 0 0.5rem;
  font-size: 1.3rem;
  line-height: 1.5;
}

.li__table details summary p {
  position: relative;
  margin: 0 0.5rem;
  font-size: 0.8rem;
  line-height: 1.5;
  overflow-x: hidden;
  font-weight: bolder;
  background-color: hsla(0, 0%, 0%, 0.5);
  background-size: 100rem;
  background-position: left;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    120deg,
    transparent,
    rgb(255, 255, 255),
    transparent
  );
}

li details summary label[data-counter="0"]::after {
  content: attr(data-flair);
}

li details summary label::after {
  content: attr(data-flair) " ⚠ " attr(data-counter);
  background-color: var(--clr-flair, white);
  box-shadow: 0 0 5px 0px var(--clr-flair, white);
  text-shadow: 0px 0px 5px black;
  /* filter: drop-shadow(0px 0px 1px var(--clr-flair, white)); */
  position: absolute;
  left: 6.5rem;
  top: 0.3rem;
  width: fit-content;
  height: 0.7em;
  display: flex;
  align-items: center;
  border-radius: 0.2em;
  color: white;
  padding: 5px;
  font-weight: 700;
  font-size: 1rem;
  text-wrap: nowrap;
  /* justify-content: center;
  background-image: url(https://github.com/user-attachments/assets/222e4a95-c89a-4324-9566-5179a12a80d5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 101%;
  background-size: contain; */
}

[id^="id_report_title_"],
[id^="id_report_text_"] {
  font-size: 1.1rem;
  max-width: unset;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

[id^="id_report_title_"] {
  margin: 0.5rem 0.5rem 0;
}

[id^="id_report_text_anon-"] {
  font-style: italic;
  font-size: small;
}

[id^="id_report_text_"],
[id^="id_report_text_anon-"],
.deepsearch-result {
  margin: 0 0.5rem 0.5rem !important;
}

.li__info__col {
  background-color: var(--twt-bckg-grey);
  border-radius: 0.2em;
  font-size: 0.8rem;
  display: grid;
  color: lightskyblue;
  gap: 0.1rem;
  padding: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.li__info__col::before {
  content: "🛈 Report Info";
  display: inline-block;
  position: relative;
  top: 0.1rem;
  left: 0.5rem;
  font-size: 1.1rem;
  font-family: monospace;
  font-weight: bolder;
  vertical-align: middle;
  font-style: italic;
  line-height: 1.5;
  width: fit-content;
}

.li__info__col > * {
  margin: 0 0.5rem;
  overflow-wrap: anywhere;
}

#info__id::before {
  /* content: attr(data-id); */
  content: "id: ";
  width: fit-content;
  color: var(--white);
  font-weight: bolder;
  color: var(--white);
  font-size: 0.8rem;
}

#info__report_date::before {
  /* content: attr(data-report_date); */
  content: "report date: ";
  width: fit-content;
  color: var(--white);
  font-weight: bolder;
  color: var(--white);
  font-size: 0.8rem;
}

#info__url::before {
  /* content: attr(data-url); */
  content: "site: ";
  width: fit-content;
  color: var(--white);
  font-weight: bolder;
}

#info__score::before {
  content: "score: ";
  width: fit-content;
  color: var(--white);
  font-weight: bolder;
  font-size: 0.8rem;
}

#info__thread {
  position: relative;
  text-decoration: none;
  font-family: monospace;
  color: lightskyblue;
  overflow-wrap: anywhere;
}

#info__thread:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: var(--tst-time) ease-in-out;
}

#info__thread::before {
  content: attr(data-thread);
  content: "thread link: ";
  width: fit-content;
  color: var(--white);
  font-weight: bolder;
  font-size: 0.8rem;
}

#info__source::before {
  content: "source: ";
  width: fit-content;
  color: var(--white);
  font-weight: bolder;
  font-size: 0.8rem;
}

.hr-status {
  line-height: 2rem;
  position: relative;
  outline: 0;
  opacity: 1;
  border: 0;
  color: black;
  text-align: center;
}

.hr-status hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.hr-status::before {
  content: "";
  background: linear-gradient(to right, transparent, var(--white), transparent);
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  height: 3px;
}

.hr-status::after {
  content: attr(data-hr_status);
  position: relative;
  display: inline-block;
  padding: 0 0.5em;
  line-height: 1.3em;
  background-color: var(--white);
  color: #000;
  border-radius: 0.2em;
  top: -2px;
  font-weight: bolder;
  font-size: 0.8rem;
  text-shadow: 0px 0px 0px black;
}

.hr-status[data-hr_status="verified"]::before {
  background: linear-gradient(
    to right,
    transparent,
    var(--clr-data-verified),
    transparent
  );
  text-shadow: 0 0 5px var(--clr-data-verified);
  box-shadow: 0px 0px 20px -5px var(--clr-data-verified);
  filter: drop-shadow(0px 0px 1px var(--clr-data-verified));
  border-radius: 1em;
}

.hr-status[data-hr_status="analysing"]::before {
  background: linear-gradient(
    to right,
    transparent,
    var(--clr-data-analysing),
    transparent
  );
}

.hr-status[data-hr_status="verified"]::after {
  background-color: var(--clr-data-verified);
  filter: drop-shadow(0px 0px 1px var(--clr-data-verified));
}

.hr-status[data-hr_status="analysing"]::after {
  background-color: var(--clr-data-analysing);
}

/* --------------------TOOLTIP--------------------- */

.tooltip .tooltiptext::before {
  content: attr(data-donate);
  top: 0;
  left: -1.5em;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  display: block;
  align-items: center;
  color: white;
  font-family: unset;
  font-size: 0.8rem;
  padding: 3px;
  font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 1.5rem;
  left: -3px;
  opacity: 0;
  font-size: 0.8rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

/* --------------------FOOTER--------------------- */

footer {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  align-self: flex-end;
  margin: 0.5rem;
}

footer p {
  margin: auto 5px;
}

footer p,
footer a {
  --clr-txt-footer: var(--lightgrey1);
  text-decoration: none;
  color: var(--clr-txt-footer);
}

footer p:hover,
footer a:hover {
  color: black;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #8888;
}

body::-webkit-scrollbar-thumb {
  background: var(--clr-scroll-bar-50);
  border-radius: 50px;
}

/* -------------- ::-webkit-scrollbar -------------- */

.li__table details::-webkit-scrollbar {
  width: 4px;
  height: 3px;
  background-color: #8888;
  border-radius: 1em;
}

.li__table details::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 50px;
}

/* ------------------- COLOR CHANGING ------------------- */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.color-picker > fieldset {
  border: 0;
  display: flex;
  gap: 2rem;
  width: fit-content;
  background: var(--clr-body-bg);
  padding: 1rem;
  margin-inline: auto;
  border-radius: 0.5rem;
}

.color-picker input[type="radio"],
.color-picker input[type="color"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}

.color-picker input[type="radio"]:checked,
.color-picker input[type="color"]:checked {
  background-color: var(--radio-color);
}

input[type="radio"]#light::after {
  content: attr(data-clr-light-theme);
  left: -0.3rem;
}

input[type="radio"]#dark::after {
  content: attr(data-clr-dark-theme);
  left: -0.1rem;
}

input[type="radio"]#clr-3rd-opt::after {
  content: attr(data-clr-opt3-theme);
  left: -0.5rem;
}

input[type="color"]#input-select-opt::after {
  content: attr(data-clr-select-theme);
  left: -0.5rem;
}

input[type="radio"]#light::after,
input[type="radio"]#dark::after,
input[type="radio"]#clr-3rd-opt::after,
input[type="color"]#input-select-opt::after {
  position: absolute;
  top: 1.8rem;
  width: max-content;
  height: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2em;
  color: var(--clr-txt);
  padding: 5px;
  font-weight: 700;
  font-size: 0.5rem;
}

input[type="radio"],
input[type="color"] {
  position: relative;
}

input[type="radio"]#light {
  --radio-color: var(--lightgrey);
}

input[type="radio"]#dark {
  --radio-color: var(--blue);
}

input[type="radio"]#clr-3rd-opt {
  --radio-color: var(--tomato);
}

input[type="color"]#input-select-opt {
  --radio-color: var(--tomato);
}

:root:has(#light:checked) {
  --clr-body-bg: hsl(0, 0%, 100%);
}

:root:has(#dark:checked) {
  --clr-body-bg: var(--lightgrey3);
  --clr-txt: var(--lightgrey);
  --clr-underline: var(--white);

  .tabs {
    --clr-border-border-block-end-label: var(--white);
    border-block-end: 1px solid var(--clr-border-border-block-end-label);
  }

  .tabs::before {
    --clr-default-label: var(--white);
  }

  .inner-tab .tabs__radio:checked + .tabs__label {
    color: var(--lightgrey);
  }

  .sub-tabs input:checked + label,
  .tabs input:not(:checked) + label:hover,
  .sub-tabs input:not(:checked) + label:hover,
  footer p a:hover,
  footer p:hover {
    color: var(--white) !important;
  }
}

.flagged-text {
  background-color: yellow;
  border: 1px solid red;
}

.deepsearch-btn,
[id^="report-btn-"] {
  background-color: var(--lightgrey1);
  box-shadow: 0 0 5px 0px var(--twt-bckg-grey, white);
  text-shadow: 0px 0px 5px black;
  margin: 0 0.5rem 0.5rem;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  border-radius: 0.2em;
  color: white;
  padding: 5px;
  font-weight: 700;
  font-size: 1rem;
  justify-content: center;
  text-wrap: nowrap;
  transition: color 0.2s ease-in-out;
}

.deepsearch-btn:hover,
[id^="report-btn-"]:hover {
  --clr-txt-label-hover: var(--lightgrey2);
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s ease-in-out;
}